.btn-primary {
    background-color: #3c6382 !important;
    border-color: #3c6382 !important;
}

.text-primary {
    color: #3c6382 !important;
}

.bg-primary {
    background-color: #3c6382 !important;
}